* {
    margin: 0;
    padding: 0;
    background-color: white;
    /* background-color: #C4CFBA; */
  
} 

.foundation{
    /* margin-top: 20px; */
    height: 400px;
    width: 900px;
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
   margin-left: 200px;

   -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
   -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
   box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
   border-radius: 20px;
   background-color: white;
   color:black;

}

.mood{
    >option{ 
        background-color: white;
    }
    
}
